/*limpar formatações padrão*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f3f3f3;
}

/*Comentario teste*/
h2{
	color: #b9c941;
	padding-bottom: 5px;
}


#navegacao{
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	height: 45px;
	position: fixed;
	width: 100%;
	top: 0;
	box-shadow:0px 1px 2px rgba(0,0,0,0.5);

}

#area{
	  width: 720px;
	  margin: 0 auto;
	  /*border: 1px solid red;*/
}

#area-principal{
	  width: 720px;
	  margin: 55px auto 10px auto;
	  /*border: 1px solid red;*/
}

#logo{
	float: left;
}

#menu{
	float: right;
	margin: 20px;
	/*Formatação dos menus*/
}

#postagem{
	background: #fff;	
	padding: 10px;
	margin-bottom: 15px;
	box-shadow:0px 1px 2px rgba(0,0,0,0.5), inset 0px 1px 0px rgba(255,255,255,0.25);
	/*border: 1px solid red;*/
}


.verde{
		color: #b9c941;
		/*padding: 5px 10px;*/
}
	a{
		text-decoration: none;
	}	
		/*Links não visitados*/
		a:link{
			color: #838383;
		 }
		/*Links  visitados*/
		a:visited{
			color: #838383;
		 }
		/*Links Hover, pass o cursos sobre o link*/
		a:hover{
			background: rgba(154,205,50,0.4);
			transition-duration: 0.8s;
		 }
		/*Links Ativo*/
		a:active{
			color: #535353;
		 }
	p{
		text-align: justify;
	}

.data-postagem{
	font-size: 12px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.img-postagem{
	float: left;
	margin: 10px 15px 10px 0px;
}

.postado{
	border-left: 5px solid #d8d8d8;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
}

/*Teste final */